nav {
  background: var(--primary);
  color: #fafafa;
  .logo {
    font-size: 18px;
    font-weight: 700;
  }
  ul {
    li {
      padding: 10px 20px;
      display: inline-block;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background-color: var(--secondary);
      }
      transition: background-color 0.4s;
      &:first-child {
        margin-right: 10px;
      }
    }
  }
}
