<input
  type="text"
  [(ngModel)]="searchText"
  class="mb-20 w-100"
  placeholder="Recherche un film"
/>
<ul
  *ngIf="movies"
  class="mb-20 list-primary list-primary-action d-flex flex-justify-content-center flex-row flex-wrap"
>
  <li
    [routerLink]="['/movies',movie.id]"
    routerLinkActive="active-movie-list"
    *ngFor="let movie of movies | filter: searchText"
  >
    <div class="d-flex flex-column flex-align-items-center m-10">
      <div>
        <img src="{{ movie.img }}" alt="{{ movie.name }}" />
      </div>
      <div class="content-movies-list d-flex flex-column">
        <h3>{{ movie.name }}</h3>
        <div class="subtitle">
          <span class="d-block">Date de sortie : {{ movie.releaseDate }}</span>
          <span class="d-block">Durée : {{ movie.duration }}</span>
        </div>
      </div>
    </div>
  </li>
</ul>
